body{
    background-color: whitesmoke;
}

h1 {
    text-align: center;
    color: red;
}

h2 {
    color: green;
}

h3 {
    text-align: right;
    color: rgb(136, 136, 21);
}

p {
    text-align: center;
    color: forestgreen;
}