body{
    background-color: lightblue;
    background-image: url("TULT.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
}

h1{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: darkcyan
}